<<<<<<< HEAD
*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
}

img {
    max-width: 25%;
    height: auto;
    border-radius: 0.3rem;
}  

  body {
    background: white;
    color: black;
    padding: 0 10%;
  }

  #header {
    width: 100%;
    height: 100vh;
      /*   background-image: url(/Images/ 
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: bottom 40% right 20%;*/
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0.6rem 1.2rem;  
  }

  nav ul li a {
    color: rgb(11, 157, 3);
    text-decoration: none;
    font-size: 1.1rem;
    position: relative;
  }

  nav ul li a:hover {
    color: blue;
  }

 h1 {
    font-family: 'Tangerine';
    font-size: 3rem;
    margin-top: 1.25rem;
 }

 h2 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color:rgb(5, 65, 2)
 }

 h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color:rgb(9, 150, 163)
 }

